<!-- RSVP -->
<span class="rows2">
  <strong>RSVP:</strong>
      <select name="rsvp">
        <option value="<%=guests.rsvp%>"><%=guests.rsvp%></option>
        <% if (guests.rsvp === "Not sure yet") { %>
          <option value="I'm in!">I'm in!</option>
          <option value="Sadly I can't make it">Sadly I can't make it</option>
        <% } else if (guests.rsvp === "I'm in!") { %>
          <option value="Sadly I can't make it">Sadly I can't make it</option>
          <option value="Not sure yet">Not sure yet</option>
        <% } else if (guests.rsvp === "Sadly I can't make it") { %>
          <option value="I'm in!">I'm in!</option>
          <option value="Not sure yet">Not sure yet</option>
        <% } %>
      </select>
</span>
<!-- CATEGORY -->
<span class="rows2">
  <strong>Category:</strong>
    <select name="category">
      <option value="<%=guests.category%>"><%=guests.category%></option>
      <% if (guests.category === "Other") { %>
        <option value="Family">Family</option>
        <option value="Friends">Friends</option>
      <% } else if (guests.category === "Family") { %>
        <option value="Friends">Friends</option>
        <option value="Other">Other</option>
      <% } else if (guests.category === "Friends") { %>
        <option value="Family">Family</option>
        <option value="Other">Other</option>
      <% } %>
    </select>
</span>
<!-- INFO -->
<h5>Info</h5>
  <strong>Email:</strong> <input type="email" name="email" value="<%=guests.email%>">
  <strong>Phone:</strong> <input type="tel" name="phone" value="<%=guests.phone%>"> <br>
    <strong>Street:</strong> <input type="text" name="street" value="<%=guests.street%>">
    <strong>City:</strong> <input type="text" name="city" value="<%=guests.city%>"> <br>
    <strong>State:</strong> <input type="text" name="state" value="<%=guests.state%>">
    <strong>Zip:</strong> <input type="text" name="zip" value="<%=guests.zip%>"> <br>
