<%# INVITE COUNT %>
  <% let invited = []; %>
  <% let notInvited = []; %>
  <% for (var i = 0; i < guests.length; i++) { %>
    <% if (guests[i].invited === 'Yes') { %>
      <%invited.push(guests[i])%>
    <% } else if (guests[i].invited === 'No') { %>
      <%notInvited.push(guests[i])%>
    <% } %>
  <% } %>

<%# INVITES SENT %>
  <ul> <span id="going"><h5>Sent: <%=invited.length%></h5></span>
    <% for (let i = 0; i < guests.length; i++) { %>
      <% if (guests[i].invited === "Yes") { %>
        <li>
          <div class="GUESTS" onclick="location.href='/guests/<%=guests[i].id%>';" style="cursor: pointer;">
            <div class="INFO">
              <h4><%=guests[i].name%> <% if(guests[i].plusOne !== "") {%><small>&</small>  <%=guests[i].plusOne%> <%}%></h4>
            </div>
            <div class="BUTTONS">
                <!-- EDIT -->
              <a class="button" href="/guests/<%=guests[i].id%>/edit">Edit</a>
                <!-- DELETE -->
              <form class="" action="/guests/<%=guests[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
              </form> <br>
            </div>
          </div>
        </li>
      <% } %>
    <% } %>
  </ul>

<!-- NOT SENT YET -->
  <ul> <span id="notgoing"><h5>Still to send: <%=notInvited.length%></h5></span>
    <% for (let i = 0; i < guests.length; i++) { %>
      <% if (guests[i].invited === "No") { %>
        <li>
          <div class="GUESTS" onclick="location.href='/guests/<%=guests[i].id%>';" style="cursor: pointer;">
            <div class="INFO">
              <h4><%=guests[i].name%> <% if(guests[i].plusOne !== "") {%><small>&</small>  <%=guests[i].plusOne%> <%}%></h4>
            </div>
            <div class="BUTTONS">
                <!-- EDIT -->
              <a class="button" href="/guests/<%=guests[i].id%>/edit">Edit</a>
                <!-- DELETE -->
              <form class="" action="/guests/<%=guests[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
              </form> <br>
            </div>
          </div>
        </li>
      <% } %>
    <% } %>
  </ul>
