<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=items.service%></title>
    <% include ../partials/skeletonhead.ejs %>
    <link rel="stylesheet" href="/show.css">
    <% if (items.paid === "Yes") {%>
      <style> .paid<%=items.id%> { color: rgb(65, 78, 67);} </style>
    <% } else if (items.paid === "No") { %>
      <style> .paid<%=items.id%> { color: maroon;} </style>
    <% } %>
  </head>
  <body>
    <div class="ITEMS">
      <h1><%=items.service%></h1>
      <div class="INFO">
        <h5>Price: <strong>$<%=items.price%></strong></h5>
        <h5>Paid: <span class="paid<%=items.id%>"> <%=items.paid%></span></h5>
        <h5>Notes: <%=items.notes%> </h5>
      </div>
      <div class="BUTTONS">
        <a class="button button-primary" href="/items/<%=items.id%>/edit">Edit</a>
        <a class="button"href="/items">HOME</a>
      </div>
    </div>
  </body>
</html>
