<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Edit <%=guests.name%></title>
    <% include ../partials/skeletonhead.ejs %>
    <link rel="stylesheet" href="/edit.css">
  </head>
  <body>
    <div class="GUESTS">
      <h1>Edit <%=guests.name%></h1>
      <form action="/search/<%=guests.id%>?_method=PUT" method="POST">
        <span class="rows1">
          <strong>Name:</strong>  <input type="text" name="name" value="<%=guests.name%>">
        </span>
        <span class="rows1">
          <strong>+1:</strong> <input type="text" name="plusOne" value="<%=guests.plusOne%>"> <br>
        </span>
        <!-- RSVP / CATEGORY / INFO -->
        <% include ../partials/editform.ejs %>
        <div class="BUTTONS">
          <input class="button button-primary" type="submit" name="" value="Submit Changes">
          <a class="button" href="/search/<%=guests.id%>">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
