<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Edit <%=guests.name%></title>
    <% include ../partials/skeletonhead.ejs %>
    <link rel="stylesheet" href="/edit.css">
  </head>
  <body>
    <div class="GUESTS">
      <h1>Edit <%=guests.name%></h1>
      <form action="/search/<%=guests.id%>?_method=PUT" method="POST">
        <span class="rows1">
          <strong>Name:</strong>  <input type="text" name="name" value="<%=guests.name%>">
        </span>
        <span class="rows1">
          <strong>&</strong> <input type="text" name="plusOne" value="<%=guests.plusOne%>"> <br>
        </span>
        <!-- RSVP / CATEGORY / INFO -->
        <span class="rows2">
          <strong>RSVP:</strong>
              <select name="rsvp">
                <option value="<%=guests.rsvp%>"><%=guests.rsvp%></option>
                <% if (guests.rsvp === "I'm in!") { %>
                  <option value="Sadly I can't make it">Sadly I can't make it</option>
                <% } else if (guests.rsvp === "Sadly I can't make it") { %>
                  <option value="I'm in!">I'm in!</option>
                <% } else if (guests.rsvp === "Not sure yet") { %> %>
                  <option value="I'm in!">I'm in!</option>
                  <option value="Sadly I can't make it">Sadly I can't make it</option>
                <% } %>
              </select>
        </span>
          <strong>Email:</strong> <input type="email" name="email" value="<%=guests.email%>"> <br>
          <strong>Phone:</strong> <input type="tel" name="phone" value="<%=guests.phone%>"> <br>
            <strong>Street:</strong> <input type="text" name="street" value="<%=guests.street%>">
            <strong>City:</strong> <input type="text" name="city" value="<%=guests.city%>"> <br>
            <strong>State:</strong> <input type="text" name="state" value="<%=guests.state%>">
            <strong>Zip:</strong> <input type="text" name="zip" value="<%=guests.zip%>"> <br>
        <div class="BUTTONS">
          <input class="button button-primary" type="submit" name="" value="Submit Changes">
          <a class="button" href="/search/<%=guests.id%>">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
