<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit <%=guests.name%></title>
    <link rel="stylesheet" href="/edit.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  </head>
  <body>
    <div class="HEADER">
      <a class="button" href="/guests">Home</a>
    </div>
    <div class="GUESTS">
      <h1>Edit <%=guests.name%></h1>
      <form action="/guests/<%=guests.id%>?_method=PUT" method="POST">
        <div class="row">
           <div class="six columns">
            <strong>Name:</strong>  <input type="text" name="name" value="<%=guests.name%>"><br>
            <strong>+1:</strong> <br><input type="text" name="plusOne" value="<%=guests.plusOne%>">
            <strong>Email:</strong> <br><input type="email" name="email" value="<%=guests.email%>">
            <strong>Phone:</strong> <br><input type="tel" name="phone" value="<%=guests.phone%>">
            <strong>Street:</strong> <br><input type="text" name="street" value="<%=guests.street%>">
            <strong>City:</strong> <br><input type="text" name="city" value="<%=guests.city%>">
            <strong>State:</strong> <br><input type="text" name="state" value="<%=guests.state%>">
            <strong>Zip:</strong> <br><input type="text" name="zip" value="<%=guests.zip%>">
          </div>
          <div class="six columns">
            <strong>RSVP:</strong> <%=guests.rsvp%><br>
            <select class="u-full-width"name="rsvp">
              <option value="Not sure yet">Not sure yet</option>
              <option value="I'm in!">I'm in!</option>
              <option value="Sadly I can't make it">Sadly I can't make it</option>
            </select><br><br>
          </div>
          <div class="six columns">
        <strong>Category:</strong> <%=guests.category%><br>
          <select class="u-full-width"name="category">
            <option value="None">None</option>
            <option value="Family">Family</option>
            <option value="Friends">Friends</option>
            <option value="Other">Other</option>
          </select><br><br>
          </div>
        </div>
        <div class="BUTTONS">
          <input class="button button-primary" type="submit" name="" value="Submit Changes">
          <a class="button" href="/guests/<%=guests.id%>">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
