<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=guests.name%></title>
    <link rel="stylesheet" href="/show.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
      <% if (guests.rsvp === "I'm in!") {%>
        <style> .RSVP<%=guests.id%> { color: green;} </style>
      <% } else if (guests.rsvp === "Sadly I can't make it") { %>
        <style> .RSVP<%=guests.id%> { color: red;} </style>
      <% } else if (guests.rsvp === "Not sure yet") { %>
        <style> .RSVP<%=guests.id%> { color: blue;} </style>
      <% } %>
  </head>

  <body>
    <div class="GUESTS">
      <h1><%=guests.name%></h1>
      <div class="INFO">
        <strong>+1:</strong> <%=guests.plusOne%><br><br>
        <strong>RSVP:</strong> <span class="RSVP<%=guests.id%>"> <%=guests.rsvp%> </span><br><br>
        <strong>Category:</strong> <%=guests.category%><br><br>
      </div>
      <div class="BUTTONS">
        <a class="button button-primary" href="/search/<%=guests.id%>/edit">Edit</a>
        <a class="button" href="/logout">Back</a>
      </div>
    </div>
  </body>
</html>
