<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  <!-- CSS -->
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
  <!-- JS -->
    <% for (let i = 0; i < guests.length; i++) { %>
      <% if (guests[i].rsvp === "I'm in!") { %>
        <style> .RSVP<%=guests[i].id%> { color: green;} </style>
      <% } else if (guests[i].rsvp === "Sadly I can't make it") { %>
        <style> .RSVP<%=guests[i].id%> { color: red;} </style>
      <% } else if (guests[i].rsvp === "Not sure yet") {%>
        <style> .RSVP<%=guests[i].id%> { color: blue;} </style>
      <% } %>
    <% } %>
  </head>

  <body>
    <div class="HEADER">
      <!-- Title -->
        <h1>Wedding Guest List</h1>
      <!-- Log Out -->
        <a class="button" href="/logout">Log Out</a>
    </div>

    <!-- QUICK GUEST ADD -->
    <div class="QUICK-ADD">
      <h4>Quick Add</h4>
      <form action="/guests" method="POST">
        <div class="row">
          Name: <input type="text" name="name">
          +1: <input type="text" name="plusOne">
          RSVP:
            <select name="rsvp">
              <option value="Not sure yet">Not sure yet</option>
              <option value="I'm in!">I'm in!</option>
              <option value="Sadly I can't make it">Sadly I can't make it</option>
            </select>
          Category:
            <select name="category">
              <option value="None">None</option>
              <option value="Family">Family</option>
              <option value="Friends">Friends</option>
              <option value="Other">Other</option>
            </select>
            <input class="button button-primary" type="submit" value="Add Guest">
        </div>
      </form>
    </div>

    <!-- GUEST LIST -->
    <div class="GUESTLIST">
      <% for (let i = 0; i < guests.length; i++) { %>
        <!-- GUESTS -->
        <div class="GUESTS" onclick="location.href='/guests/<%=guests[i].id%>';" style="cursor: pointer;">
          <div class="INFO">
            <h4><%=guests[i].name%></h4>
            <strong>+1:</strong>  <%=guests[i].plusOne%><br>
            <strong>RSVP:</strong> <span class="RSVP<%=guests[i].id%>"><%=guests[i].rsvp%></span><br>
            <strong>Category:</strong> <%=guests[i].category%>
          </div>
          <div class="BUTTONS">
              <!-- EDIT -->
            <a class="button" href="/guests/<%=guests[i].id%>/edit">Edit</a>
              <!-- DELETE -->
            <form class="" action="/guests/<%=guests[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form> <br>
          </div>

        </div>
      <% } %>
    </div>

    <div class="BOTTOM">
      <!-- NEW Guest -->
      <a class="button button-primary" href="/guests/new">Create New</a><br>
    </div>

  </body>
</html>
