<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=guests.name%></title>
      <style>
        .RSVP {
          color: green;
        }
      </style>
  </head>
  <body>
    <h1><%=guests.name%></h1>
    +1: <%=guests.plusOne%></h2><br>
    RSVP:
    <div class="RSVP">
      <%=guests.rsvp%></h2>
    </div><br>

    <a href="/guests/<%=guests.id%>/edit">Edit</a><br>
    <a href="/guests">HOME</a>
  </body>
</html>
