<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=guests.name%></title>
      <style>
      <% if (guests.rsvp === "I'm in!") {%>
            .RSVP {
              color: green;
            }
      <% } else if (guests.rsvp === "Sadly I can't make it") { %>
            .RSVP {
              color: red;
            }
      <% } %>
      </style>
  </head>
  <body>
    <h1><%=guests.name%></h1>
    +1: <%=guests.plusOne%></h2><br>
    RSVP:
    <div class="RSVP">
      <%=guests.rsvp%>
    </div><br>

    <a href="/guests/<%=guests.id%>/edit">Edit</a><br>
    <a href="/guests">HOME</a>
  </body>
</html>
